# EDA for the HTI data from Harvard Dataverse

In [1]:
#imports
from __future__ import print_function, division

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

#import datatime

%matplotlib inline

In [2]:
ls

README.md       Untitled.ipynb  data/           local/

In [3]:
ls data/

HTI 00-11 stata12.tab  HTI 00-11 stata13.dta  HTI Codebook 2013.pdf

In [6]:
hti_df = pd.read_stata('./data/HTI 00-11 stata13.dta')

In [7]:
hti_df.head()

,country,ccode,year,tier,minstand,efforts,TRAFFICKING_FLOWS,source,source_order,transit,...,UNP_rat,ILO182,ILO29,ILO105,CEDAW_sign,CEDAW_rat,UNCRC_sign,UNCRC_rat,conflict_sign,conflict_rat
0,United States,2.0,2001,Special Case,No mention,No mention,NaN,No,No mention,Yes,...,Ê3 Nov 2005Ê,1999-12-02,NaT,1991-09-25,17 Jul 1980Ê,,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
1,United States,2.0,2002,Special Case,No mention,No mention,NaN,No,No mention,Yes,...,Ê3 Nov 2005Ê,1999-12-02,NaT,1991-09-25,17 Jul 1980Ê,,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
2,United States,2.0,2003,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaT,1991-09-25,17 Jul 1980Ê,,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
3,United States,2.0,2004,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaT,1991-09-25,17 Jul 1980Ê,,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
4,United States,2.0,2005,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaT,1991-09-25,17 Jul 1980Ê,,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê

In [8]:
hti_df.columns

Index(['country', 'ccode', 'year', 'tier', 'minstand', 'efforts',
       'TRAFFICKING_FLOWS', 'source', 'source_order', 'transit',
       'transit_order', 'destination', 'destination_order', 'internal',
       'TRAFFICKING_TYPES', 'psource', 'ptransit', 'pdest', 'pinternal',
       'lsource', 'ltransit', 'ldest', 'linternal', 'dsource', 'dtransit',
       'ddest', 'dinternal', 'dssource', 'dstransit', 'dsdest', 'dsinternal',
       'cpsource', 'cptransit', 'cpdest', 'cpinternal', 'clsource',
       'cltransit', 'cldest', 'clinternal', 'cssource', 'cstransit', 'csdest',
       'csinternal', 'PROSECUTION', 'domesticlaws', 'enforcement',
       'convictinfo', 'prosnum', 'PROTECTION', 'protectprogress', 'victimid',
       'victimservices', 'victimpunish', 'PREVENTION', 'preventprogress',
       'INTERNATIONAL_LAWS', 'UNP_sign', 'UNP_rat', 'ILO182', 'ILO29',
       'ILO105', 'CEDAW_sign', 'CEDAW_rat', 'UNCRC_sign', 'UNCRC_rat',
       'conflict_sign', 'conflict_rat'],
      dtype='object')

In [12]:
hti_df.to_csv('test.csv', index=False)
df1 = pd.read_csv('test.csv')
df1.head()

,country,ccode,year,tier,minstand,efforts,TRAFFICKING_FLOWS,source,source_order,transit,...,UNP_rat,ILO182,ILO29,ILO105,CEDAW_sign,CEDAW_rat,UNCRC_sign,UNCRC_rat,conflict_sign,conflict_rat
0,United States,2.0,2001,Special Case,No mention,No mention,NaN,No,No mention,Yes,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
1,United States,2.0,2002,Special Case,No mention,No mention,NaN,No,No mention,Yes,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
2,United States,2.0,2003,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
3,United States,2.0,2004,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê
4,United States,2.0,2005,Special Case,No mention,No mention,NaN,No,No mention,No,...,Ê3 Nov 2005Ê,1999-12-02,NaN,1991-09-25,17 Jul 1980Ê,NaN,Ê5 Jul 2000Ê,23 Dec 2002Ê,Ê5 Jul 2000Ê,23 Dec 2002Ê